<h4>Форма заявки на запись</h4>
<form action="/{{service['id']}}/apply" method="post">
    <div>
        <label> имя </label><br>
        <input type="text" name="name" placeholder="Иван Иванов">
    </div>

    <div>
        <label>Фамилия</label><br>
        <input type="text" name="surname">
    </div>

    <div>
        <label>Отчество</label><br>
        <input type="text" name="patronymic">
    </div>

    <div>
        <label>Телефон</label><br>
        <input type="text" name="phone">
    </div>

    <input type="submit">
</form>