<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form action="/register" method="post">
    <p><label>ФИО: </label> <input type="text" name="name" value="" required></p>
    <p><label>Email: </label> <input type="text" name="email" value="" required></p>
    <p><label>Пароль: </label> <input type="password" name="psw" value="" required></p>
    <p><label>Повтор пароля: </label> <input type="password" name="psw2" value="" required></p>
    <p><input type="submit" value="Регистрация"> </p>

</form>
</body>
</html>